@font-face {
    font-family: '';
    src: url('https://api.allorigins.win/raw?url=');
    src: url('https://api.allorigins.win/raw?url=?#iefix') format('embedded-opentype'),
         url('https://api.allorigins.win/raw?url=') format('opentype'),
         url('https://api.allorigins.win/raw?url=') format('woff2'),
         url('https://api.allorigins.win/raw?url=') format('woff'),
         url('https://api.allorigins.win/raw?url=') format('truetype');
    font-weight: normal;
    font-style: normal;
  }