@font-face {
    font-family: 'Mantaray';
    src: url('https://api.allorigins.win/raw?url=smcsarchive.github.io/SMCS-cytube-repo/files%20for%20testing/fonts/Mantaray/Mantaray.eot');
    src: url('https://api.allorigins.win/raw?url=smcsarchive.github.io/SMCS-cytube-repo/files%20for%20testing/fonts/Mantaray/Mantaray.eot?#iefix') format('embedded-opentype'),
         url('https://api.allorigins.win/raw?url=smcsarchive.github.io/SMCS-cytube-repo/files%20for%20testing/fonts/Mantaray/Mantaray.otf') format('opentype'),
         url('https://api.allorigins.win/raw?url=smcsarchive.github.io/SMCS-cytube-repo/files%20for%20testing/fonts/Mantaray/Mantaray.woff2') format('woff2'),
         url('https://api.allorigins.win/raw?url=smcsarchive.github.io/SMCS-cytube-repo/files%20for%20testing/fonts/Mantaray/Mantaray.woff') format('woff'),
         url('https://api.allorigins.win/raw?url=smcsarchive.github.io/SMCS-cytube-repo/files%20for%20testing/fonts/Mantaray/Mantaray.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}